$bg: #f5f6f8;
$card: #ffffff;
$text: #1f2937;
$muted: #6b7280;
$primary: #2563eb;
$accent: #0ea5e9;
$shadow: 0 0.375rem 1.125rem rgba(16, 24, 40, 0.06);

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}


body {
  margin: 0;
  // 
  background: $bg;
  color: $text;
  transition: background 0.25s, color 0.25s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(16, 24, 40, 0.06);
  background: transparent;
  cursor: pointer;
  transition: transform .12s ease, opacity .12s ease;

  &:hover {
    transform: translateY(-0.125rem);
    opacity: .95;
  }
}

.btn.primary {
  background: $primary;
  color: #fff;
}

.btn.reset {
  background: #ef4444;
  color: #fff;
}

label {
  color: #000;
}

input,
select,
textarea {
  border: 0.0625rem solid #000;
  background: #fff;
  color: #000;
  border-radius: 0.5rem;
  padding: 0.5625rem;
}

// //dark mode

// $bgd:#0b1220;
// $cardd: #0f1724;
//   $text: #e6eef8;
//   $muted: #9aa6b2;
//   $primary: #3b82f6;
//   $accent: #60a5fa;
//   $shadow: 0 6px 18px rgba(2, 6, 23, 0.6);

// body.dark {
//   // background: $bgd;
  
// }

// body.dark input,
// body.dark select,
// body.dark textarea {
//   color: #fff;
//   background-color: $card;
//   border: 1px solid rgba(255, 255, 255, 0.2);
// }

// body.dark input::placeholder,
// body.dark textarea::placeholder {
//   color: rgba(255, 255, 255, 0.6);
// }

// body.dark label {
//   color: $text;
// }

